.backImage {
    background-image: url('src/assets/Photos/signup2.jpg') ;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    overflow-x:hidden;
    overflow-y:hidden;
  }