<ion-header>
  <ion-toolbar color="success">
    <ion-title> {{SignUp == 'SignUp' ? 'Sign Up' : 'Sign In' }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="leftMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="backImage">
    <ion-card *ngIf="SignUp == 'SignUp'" style="top: 10%;width: 56%;left: 21%;">
      <ion-card-content>
        <form #f="ngForm">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input autocomplete="name" type="text" name="userName" #userName="ngModel"
              [(ngModel)]="userDetails.name" required>
            </ion-input>
            <ion-text color="danger" *ngIf="!userName.value && userName.touched">Please enter name</ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-select placeholder="Please select a country" okText="Okay" cancelText="Dismiss" name="country" #country="ngModel"
              [(ngModel)]="userDetails.country" required>
              <ion-select-option autocomplete="country" *ngFor="let country of this.userservice.Country">
                {{country.name}}
              </ion-select-option>
            </ion-select>
            <ion-text color="danger" *ngIf="!country.value && country.touched">Please enter country name</ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input autocomplete="city" type="text" name="city" #city="ngModel" [(ngModel)]="userDetails.city" required>
            </ion-input>
            <ion-text color="danger" *ngIf="!city.value && city.touched">Please enter city</ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email-id </ion-label>
            <ion-input autocomplete="email" type="text" name="email" #email="ngModel" [(ngModel)]="userDetails.email"
              email="true" required></ion-input>
            <ion-text color="danger" *ngIf="!email.value && email.touched">Please enter email-id</ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input autocomplete="password" type="password" name="passwords" #passwords="ngModel"
              [(ngModel)]="userDetails.password" required>
              <!-- <ion-icon name="eye-outline" #hide></ion-icon> -->
            </ion-input>
            <!-- <ion-icon name="eye-off-outline" (click)="passwordEye(f)" #unhide></ion-icon> -->

            <ion-text color="danger" *ngIf="!passwords.value && passwords.touched">Please enter password</ion-text>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input autocomplete="address" type="text" name="address" #address="ngModel"
              [(ngModel)]="userDetails.address" required></ion-input>
            <ion-text color="danger" *ngIf="!address.value && address.touched">Please enter Address</ion-text>
          </ion-item>

          <ion-button [hidden]="login" color="primary" [disabled]="!f.valid" (click)="onSignUp(f)">Submit</ion-button>
          <ion-button color="primary" type="reset" (click)="resetErrorMessage()">Reset</ion-button>
          <ion-button [routerLink]="['/business-login']">Business signup</ion-button>
          <ion-button [routerLink]="['/login','SignIn']">Signin</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="SignUp == 'SignIn'" style="top: 10%;width: 56%;left: 21%;">
      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="stacked">Email Id</ion-label>
            <ion-input autocomplete="email" type="text" #emailId></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input autocomplete="password" type="password" #password></ion-input>
          </ion-item>
          <ion-button slot="center" (click)="userLogin(emailId,password)">SignIn</ion-button>
          <ion-button color="primary" type="reset">Reset</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <div *ngIf="error && clearErrorMessage == true">
      {{error}}
    </div>
  </div>
</ion-content>