<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text>Restaurant</ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="leftMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons *ngIf="!userservice.userId" slot="end" [routerLink]="['/login','SignUp']" style="outline: none;">
      <ion-icon name="person-add-outline" style="font-size: 28px;"></ion-icon>
      <ion-button>Sign up/Sign in</ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="padding: 10px;">
      <ion-text *ngIf="userservice.userId">Welcome, {{userservice.userName}}</ion-text>
    </ion-buttons>
    <ion-buttons slot="end" style="padding: 10px" style="cursor: pointer;" (click)="executeFirst()">
      <ion-icon name="refresh-outline" style="font-size: xx-large;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel" animated [(ngModel)]="searchText"
    (ionChange)="filter()"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let restaurant of product">
    <ion-card><br />
      <ion-item [routerLink]="['/restaurant-details',restaurant.id]" style="cursor: pointer;">
        <ion-row>
          <ion-col size-sm="2" size-md="2" size-xl="2" size-lg="2">
            <img src={{restaurant.image}} width="500px" height="150px">
          </ion-col>
          <ion-col size-sm="10" size-md="10" size-xl="10" size-lg="10">
            <ion-text color="success">Organisation name :</ion-text>
            <ion-text>{{restaurant.legalName}}</ion-text><br /><br />
            <ion-text color="success">Address: </ion-text>
            <ion-text>{{restaurant.address}}</ion-text><br /><br />
            <ion-text color="success">Seller name :</ion-text>
            <ion-text>{{restaurant.name}}</ion-text><br /><br />
          </ion-col>
        </ion-row>
      </ion-item>

      <!-- <ion-row style="padding: 18px;">
        <ion-col size-md="1.5">
          <ion-text>CUISINES:</ion-text><br /><br />
        </ion-col>
        <ion-col size-md="10.5">
          <ion-text>Burger, Fast Food</ion-text><br /><br />
        </ion-col>
        <ion-col>
          <ion-button size="medium" (click)="call()">
            <ion-icon name="call-outline"></ion-icon>Call
          </ion-button>
        </ion-col>
      </ion-row> -->

    </ion-card>
  </ion-grid>

</ion-content>